/* CSS Template for the navbar */

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 100; 
}
.navBar {
    background-color: #A60400;
    display:inline-block;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
    min-width: 650px; /* Variable to change depending on # of list items */
    border-bottom: 1px solid #FFFFFF
}
.navbar ul li {
    display:inline-block;
    position:relative;
}
.navbar ul li a {
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
/* Switch colors while hovering */
.navBar ul li a:hover {
    color: #A60400;
    background-color: #FFFFFF;
}
